- provide :title, "The Constitution"

.hero-unit
  %h1 PHS Student Council Constitution

  %p
    We, the students of Phillipsburg High School, in order to insure the
    necessary cooperation and understanding between the student body, the
    faculty, and the Administration of the high school, to provide for more
    adequate welfare and development of the student body, and to create
    awareness of the obligations of responsible leadership (which has been
    placed upon us as recipients of a high school education), in accordance
    with the powers granted to us by the administrative authorities of this
    high school, do hereby ordain and establish this, the Constitution of the
    Student Council of Phillipsburg High School.

%h2#name Article I - Name

%p
  The name of this organization shall be “The Phillipsburg High School Student
  Council.”

%h2#authority Article II - Authority

%p
  All powers of the Student Council are delegated to it by the school
  administration. Therefore, the high school principal shall have the power to
  veto any act of the Council and to revoke any of the powers held by the
  Council.

%h2#aims Article III - Aims

%p
  The aims of this organization shall be to: strengthen the foundations of
  representative democracy and leadership, foster good citizenship, create an
  awareness of individual responsibility, promote better student-faculty
  relations, aid the administration in its projects to improve the school,
  provide a means of conveying student opinion to the administration and
  transforming these suggestions into definite action, and aid students in
  enjoying the highest standards of both academic and social aspects of their
  high school education.

%h2#membership Article IV - Membership

%h3 Section 1

%p
  The Student Council shall consist of: two Representatives from each homeroom,
  the Representative and the Alternate; the elected officers of the Student
  Council; and any students who show a genuine interest in Student Council
  but were not elected by the Student Body (called Members-at-Large).

%h3#homeroom-reps-quals Section 2 - Qualifications of Homeroom Representatives

%ol{type: "A"}
  %li
    The Representative must be a member in good standing of the homeroom he/she
    represents.
  %li
    The Alternate must be a member in good standing of the homeroom he/she
    represents.

%h3#homeroom-reps-duties Section 3 - Duties of the Homeroom Representative

%ol{type: "A"}
  %li
    The Homeroom Representative should attend all Student Council general
    membership meetings.
  %li
    The Homeroom Representative should provide a means of communication with
    students in his/her respective homeroom (This includes the reading of the
    minutes and other pertinent information).
  %li
    The Homeroom Representative should attend Student Council sponsored
    activities.
  %li
    The Homeroom Representative should participate in the planning and
    implementation of Student Council activities.
  %li
    The Homeroom Representative should provide a means of communication between
    the Student Body and the Council.
  %li
    The Homeroom Representative should contribute creatively to the actions
    of the organization.
  %li
    The Homeroom Representative should encourage others to participate in group
    discussion, welcome opinions, information, and suggestions of others, and
    avoid personal jealousy and competition.
  %li
    The Homeroom Representative should aid in carrying out any responsibilities
    that are assumed.
  %li
    Student Council Officers, Representatives, and Alternates who accept
    their positions must be willing to perform all aforementioned duties or
    be subject to immediate removal.
  %li
    The Student Council Advisor and Executive Committee shall announce at the
    first meeting of each school year the number of merit points necessary
    for membership in the Student Council. All Representatives and Alternates
    must maintain the specified amount of merit points or be subject to
    removal.
  %li
    Merit points
    %ol
      %li
        May be obtained by:
        %ol{type: "i"}
          %li Attending a Student Council Membership Meeting.
          %li
            Working on a committee for an activity (actually attending a work
            session)
          %li Serving as the Chairperson of a Committee.
      %li
        Amount of points awarded:
        %ol{type: "i"}
          %li 1 point for attending a meeting
          %li
            The amount of time in hours spent on each activity (1 point per
            hour spent)
          %li Half points shall be awarded when deemed necessary
          %li 3 points serving as the Chairperson of a Committee
          %li
            Student Council Officers reserve the right to alter the amount of
            points awarded based on the effort put in by the members
  %li
    All Student Council Representatives and Alternates must maintain a
    passing grade average or be subject to removal.

%h3 Section 4 - Term of Office of Homeroom Representatives

%ol{type: "A"}
  %li
    The Representative shall serve for one school year and may succeed
    himself/herself.
  %li
    The Alternate shall serve for one school year and may succeed
    himself/herself.

%h2#officers Article V - Officers

%h3#officers-quals Section 1 - Qualifications

%ol{type: "A"}
  %li#president-quals
    The President must be a member in good standing of the Junior class at
    the time of the election and must be an active member of Student Council.
  %li#vp-quals
    The Vice-President must be a member in good standing of either the Junior
    or Sophomore class at the time of election and be an active member of
    Student Council.
  %li#recording-secretary-quals
    The Recording Secretary, the Corresponding Secretary, the Treasurer, and
    the Officer in Charge of State Charity must be members in good standing
    of the Junior, Sophomore, or Freshman class at the time of election and
    must be active members of Student Council.

%h3#officers-duties Section 2 - Duties

%ol{type: "A"}
  %li#president-duties
    The President shall:
    %ol
      %li
        Be generally responsible for the actions of the Student Council
        activities
      %li
        Be the chairman of the Executive Committee (consisting of the six
        officers)
      %li Prepare agendas for the meetings
      %li Keep the advisor informed of the Council’s activities
  %li#vp-duties
    The Vice-President shall:
    %ol
      %li Preside in the absence of the President
      %li Be a permanent member of all committees
      %li Be the overall chairman of these committees
      %li Appoint all committee chairpersons with the assistance of the Advisor
  %li#recording-secretary-duties
    The Recording Secretary shall:
    %ol
      %li Record all proceedings at the meetings in the minute book
      %li
        Be responsible for the filing of all Student Council material and
        prepare for duplication and distribution a summary of the minutes to
        each Student Council member, the Advisor, and the administration no
        later than two days following said meetings
      %li
        Be responsible for presenting the minute book to the Advisor no later
        than one week following the last meeting in June
      %li
        Be in charge of gathering photos of all Student Council activities
        for the scrapbook
  %li#corresponding-secretary-duties
    The Corresponding Secretary shall:
    %ol
      %li
        Record the accumulation of all merit points and be responsible for all
        correspondence concerning the Council
  %li#treasurer-duties
    The Treasurer shall:
    %ol
      %li
        Administrate all financial affairs of the Council, including
        processing all requisition forms for the Student Council and keeping
        accurate records and an account book
      %li
        Check with the advisor concerning the Student Council balance as soon
        as the monthly financial statement is issued by the school Comptroller
      %li
        Publicly announce the Student Council balance at all general membership
        Student Council meetings. The Treasurer’s book shall be ready for audit
        on demand by the school Comptroller
  %li#state-charity-duties
    The Officer in Charge of State Charity:
    %ol
      %li
        Will not be elected but appointed by the officer who held the
        position the previous year with assistance from the Advisor. The main
        job of this office is to raise funds for state and local charities.

%h3#terms-of-office Section 3 - Terms of Office

%ol{type: "A"}
  %li All officers shall serve for one year.
  %li
    The Vice-President, Recording Secretary, Corresponding Secretary,
    Treasurer, and Officer in Charge of State Charity may succeed themselves.

%h3#appointed-executive-members Section 4 - Appointed Executive Members

%ol{type: "A"}
  %li
    The Officers and Advisor shall have the power to appoint a number of
    Executive Members who shall be responsible for a specific duty.
  %li
    Executive Members must be members in good standing of the Student Body, and
    they may be removed just as a Representative may be removed.

%h2#elections Article VI - Elections

%h3#officer-elections Section 1 - Elections of Officers

%ol{type: "A"}
  %li
    All elections shall be conducted by secret ballot. Any member of the
    Student Body who wishes to vote may do so. The election process will be
    changed to an open registration of all members of the Student Body,
    including Representatives and Alternates. The students who register will be
    able to hear the speeches given by the candidates and vote after the
    speeches. Registration will be a one week period in the winter.

%h3#reps-alts-elections Section 2 - Elections of Representatives and Alternates

%ol{type: "A"}
  %li
    Election of Representatives and Alternates shall take place approximately
    two weeks into the school year. Each respective homeroom shall conduct a
    secret ballot. The candidate with the most votes shall be declared the
    Representative, and the runner-up shall become the Alternate. Any other
    students who were not elected, but who show a genuine interest in Student
    Council, may become Members-at-Large.

%h3#officer-election-procedure Section 3 - Officer Election Procedure

%ol{type: "A"}
  %li
    The Advisor shall:
    %ol
      %li Distribute petition request forms to prospective candidates
      %li Process these petitions
      %li Hold elections
      %li Tabulate results
      %li Publicize these results
  %li
    The candidates for office must present their qualifications to the voting
    membership.
  %li
    Petitions to run for Student Council office must be endorsed by three
    faculty members.

%h2#removal-from-office Article VII - Removal From Office

%h3#grounds-for-removal Section 1 - Grounds for Removal

%ol{type: "A"}
  %li
    If a member of the Student Council is suspended from school, the Student
    Council Advisor shall review his/her case and decide whether to remove
    him/her from office. The student has the right to appeal this decision to
    the Student Activities Council.
  %li
    If a Representative, Alternate, Executive Member, or Officer is not
    fulfilling his/her duties, the Student Council Advisor shall decide if
    the person is to be removed from office. The student has the right to
    appeal to the Student Activities Board.

%h3#optional-removal-method Section 2 - Optional Method for Removal

%ol{type: "A"}
  %li
    A petition signed by at least three-fourths of the electing body shall be
    presented to the Student Council Advisor if an officer is to be removed.
    The advisor shall notify the member to be removed, and he/she shall have
    a two-week probationary period allotted to him/her. At the end of this
    period, the electing body shall vote. If three-fourths vote to remove
    him/her, he/she shall be removed.

%h3#replacement Section 3 - Replacement

%ol{type: "A"}
  %li
    Elections will be held according to standard procedure, within two weeks
    after removal, for replacement of the officer.
  %li
    The Student Council Advisor and Executive Committee will decide on a
    replacement for an Executive Member.
  %li
    Student Council Alternates and Representatives will be replaced by
    holding an election in the corresponding homeroom to fill the vacancy.

%h2#committees Article VIII - Committees

%h3 Section 1

%p
  Standing Committees shall be appointed at the beginning of the school year by
  the officers to meet the immediate needs of the student body. The Vice
  President and the Advisor will appoint chairpersons. All committees mentioned
  in this Constitution shall be standing committees.

%h3 Section 2

%p Special committees may be organized as necessary.

%h2 Article IX - Meetings

%h3 Section 1

%p
  The Student Council shall meet at least one time each month beginning with
  September.

%h3 Section 2

%p
  Quorum shall consist of two-thirds of the voting members of the Student
  Council.

%h2#advisors Article X - Advisors

%p
  The high school principal shall appoint a member(s) of the faculty as an
  advisor(s) to the Student Council. The Advisor(s) shall have counseling
  power.

%h2#parlimentary-authority Article XI - Parliamentary Authority

%p
  In all matters not specifically expressed in this Constitution, the
  parliamentary authority shall be deferred to the advisor and administration
  for a decision and implementation of the ruling.

%h2#resignation Article XII - Resignation

%p
  If an officer resigns, the President shall appoint a replacement for no
  longer than one month or until the next Student Council meeting. At this
  meeting, the Council should go through the proper procedure of electing a new
  officer. If the President resigns, the Vice-President shall assume all duties
  of the President until a new President is elected.

%h2#amendments Article XII - Amendments

%p
  This constitution may be amended by a two-thirds vote of the Student
  Council and with the approval of the principal of the high school. The
  proposed amendment should be presented for discussion at the General
  Session Meeting. The Representatives should then conduct homeroom discussions
  on the amendment. The Student Council shall vote on the amendment at the next
  meeting, two weeks after its first proposal.

%h2#ratification Article XIV - Ratification

%p
  This Constitution shall become effective immediately pending approval of
  the Administration and two-thirds of the Student Council members present at
  the General Session Meeting on the day of voting.
