- provide :title, "Downloads"

%h1 Downloads

%p These are the files that are currently available for download:

%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Type
    %th Size
  - @files.each do |file|
    %tr
      %td
        = link_to File.basename(file, ".*").titlecase,
                  "/downloads/#{File.basename file}"
      %td= File.extname(file)[1..-1].upcase
      %td= number_to_human_size(File.size file)
