- provide :title, "Events"

.hero-unit
  %h1 Events
  %p
    The Student Council houses multiple events throughout the course of the
    school year. We are a non-profit organization and donate all proceeds to
    our state charity.

%h2#upcoming Upcoming Events

%table.table.table-bordered.table-striped
  %tr
    %th Event
    %th Date
  %tr
    %td Haunted High School
    %td 25 October 2012
  %tr
    %td TCNJ Fall Conference
    %td 31 October 2012
