- provide :title, "Events"

.hero-unit
  %h1 Events
  %p
    The Student Council houses multiple events throughout the course of the
    school year. We are a non-profit organization and donate all proceeds to
    our state charity.

%h2#upcoming Upcoming Events

%table.table.table-bordered.table-striped
  %tr
    %th Event
    %th Date
  %tr
    %td Giving Tree Pick-up
    %td 14-15 December 2012
  %tr
    %td Student Council Meeting
    %td 3 January 2013
  %tr
    %td NJASC Conference
    %td 10 January 2013
  %tr
    %td Student Council Meeting
    %td 7 February 2013
