- provide :title, "Events"

.hero-unit
  %h1 Events
  %p
    The Student Council houses multiple events throughout the course of the
    school year. We are a non-profit organization and donate any proceeds to
    our state charity.
