%h1 Phillipsburg High School Student Council

%p
  Welcome to the new Student Council website. Everything is currently in
  development, but feel free to take a look! If you have any suggestions or
  would like to contribute,
  %a{href: "https://github.com/pburg/pburgstuco"} fork me on GitHub
  and play around.
%p
  Currently not quite sure how to make the home page useful... previously it
  was a bit redundant, displaying content that was already on other pages, so
  we'll see how it unfolds for this revamped website.

%p This looks kinda nice:

.well
  %h2 Mission Statement
  %p
    The goal of Student Council is to enhance the level of student involvement
    and student pride both in and outside the halls of Phillipsburg High
    School. Additionall, Student Council takes the initiative to interact
    with the community in a variety of ways.  The members of Student Council
    understand the importance of Liner Pride, and always work to improve the
    unity among the students and staff of Phillipsburg High School.  It is with
    constant and ongoing enthusiasm that the officers and members of the
    Phillipsburg High School Student Council accept the duty of improving the
    overall life and morale of their school and community.
