- provide :title, "Members"

%h1 Members

%h2 Officers

%table.table.table-hover.table-bordered
  %tr
    %th Position
    %th Name
  %tr
    %td President
    %td Lauren Polizzi
  %tr
    %td Vice President
    %td Jenna Sopko
  %tr
    %td Treasurer
    %td James Sinkbeil
  %tr
    %td Recording Secretary
    %td Travis Cote
  %tr
    %td Corresponding Secretary
    %td Madison Brown
  %tr
    %td{rowspan: 2} State Charity
    %td Izzy Brito
  %tr
    %td Taylor Davis
  %tr
    %td Technical Advisor
    %td Ronnie Josselyn

%h2 Advisors

%dl
  %dt Mr. English
  %dd
    Mr. English is a history teacher at the high school and he is in his fifth
    year as a student council advisor.

  %dt Mr. Kiley
  %dd
    Mr. Kiley is a spanish teacher at the high school and he is in his third
    year as a student council advisor.
