- provide :title, "Members"

%h1#members Members

%h2#officers Officers

%table.table.table-bordered.table-striped
  %tr
    %th Position
    %th Name
  %tr#president
    %td President
    %td Lauren Polizzi
  %tr#vp
    %td Vice President
    %td Jenna Sopko
  %tr#treasurer
    %td Treasurer
    %td James Sinkbeil
  %tr#recording-secretary
    %td Recording Secretary
    %td Travis Cote
  %tr#corresponding-secretary
    %td Corresponding Secretary
    %td Madison Brown
  %tr#technical-advisor
    %td Technical Advisor
    %td Ronnie Josselyn
  %tr#state-charity
    %td{rowspan: 2} State Charity
    %td Izzy Brito
  %tr
    %td Taylor Davis

%h2#advisors Advisors

%dl
  %dt Mr. English
  %dd
    Mr. English is a history teacher at the high school and he is in his fifth
    year as a student council advisor.

  %dt Mr. Kiley
  %dd
    Mr. Kiley is a spanish teacher at the high school and he is in his third
    year as a student council advisor.
