- provide :title, "Photo Gallery"

%h1 Photo Gallery

/ This is a test. At production these will all be dynamically generated from
/ the directories within app/assets/images/photos
%h2 Turkey Day Game
= lightbox_group "Turkey Day Game", Rails.root.join("app", "assets",
                                                    "images", "photos",
                                                    "turkey_day_game")
