-# Konami code fun. ^_^
.modal.hide.fade#alma-mater
  .modal-body{align: "center"}
    %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"} &times;
    %em
      Our High School you will be forever,
      %br/
      A guiding light that shines for all
      %br/
      We'll back you everyone together,
      %br/
      With you we'll stand, with you we'll fall.
      %br/
      Loyal we'll be to you always.
      %br/
      And when our banners wave on high,
      %br/
      We'll sound our cheers, ringing loud and clear
      %br/
      And be steadfast to P'Burg High.
